<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Detalle Entrepaño</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container py-4">

    <a href="{{ url_for('detalle_estante', estante_id=entrepano.estante.id) }}"
       class="btn btn-secondary mb-3">
        ← Volver al estante
    </a>

    <h2 class="mb-4">
        Estante {{ entrepano.estante.numero }} – Nivel {{ entrepano.nivel }}
    </h2>

    <!-- FORMULARIO -->
    <form method="POST" class="mb-4">

        <!-- División -->
        <!-- ITEM -->
         <div class="row g-3 mb-5">
            <p><b>Codigo</b></p>
            <input name="codigo" required>
            <p><b>Descripción</b></p>
            <textarea name="descripcion"></textarea>
            <p><b>Maximo</b></p>
            <input name="maximo" type="number">
            <p><b>Minimo</b></p>
            <input name="minimo" type="number">
         </div>
         

        <!-- SOLO VISUAL -->
        <p>
            📍 Ubicación Relativa:
            P{{ entrepano.estante.numero }}{{ entrepano.nivel }}
        </p>
        <button class="btn btn-primary w-10">
            Añadir división
        </button>
    </form>

    <!-- DIVISIONES -->
    <!-- DIVISIONES -->
<div class="row">
    
    {% for division in divisiones %}
    <div class="col-md-3 mb-3">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title text-center">
                    División {{ division.numero }}
                </h5>

                <div class="border p-2 mb-2">
                    📍 Ubicación:
                    <strong>
                        P{{ entrepano.estante.numero }}{{ entrepano.nivel }}{{ division.numero }}
                    </strong>
                </div>

                {% if division.items %}
                    {% for item in division.items %}
                    <div class="border rounded p-2 mb-2">
                        <b>Código:</b> {{ item.codigo }}<br>
                        <b>Descripción:</b> {{ item.descripcion }}<br>
                        <b>Máximo:</b> {{ item.maximo }} |
                        <b>Mínimo:</b> {{ item.minimo }}

                        
                    </div>
                    <form method="POST"
                            action="{{ url_for('eliminar_item', item_id=item.id) }}"
                            class="mt-2"
                            onsubmit="return confirm('¿Eliminar este item?')">

                            <button class="btn btn-outline-danger btn-sm">
                                🗑 Eliminar item
                            </button>
                        </form>
                {% endfor %}
                {% else %}
                    <p class="text-muted text-center">
                        Sin items asignados
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
        <p class="text-muted">No hay divisiones aún.</p>
    {% endfor %}
</div>


</div>

</body>
</html>
