{% extends "base.html" %}
{% block title %}Detalle Estante{% endblock %}

{% block content %}
<a
    href="{{ url_for('estantes') }}"
    class="btn btn-outline-secondary mb-3"
>
    ⬅️ Volver a pagina principal
</a>

<h3 class="mb-4">
    Estante {{ estante.nombre }}
</h3>

<div class="row">
    {% for entrepano in entrepanos %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card text-center h-100">
            <div class="card-body">
                <h5 class="card-title">
                    Nivel {{ entrepano.nivel }}
                </h5>

                <div class="text-muted small">
                    Divisiones:
                    {{ divisiones_por_entrepano.get(entrepano.id, 0) }}
                </div>

            </div>

            <div class="card-footer d-grid gap-2">
                <a href="{{ url_for('detalle_entrepano', entrepano_id=entrepano.id) }}"
                   class="btn btn-success btn-sm">
                    Ver divisiones
                </a>

                <form method="POST"
                      action="{{ url_for('eliminar_entrepano', entrepano_id=entrepano.id) }}">
                    <button class="btn btn-outline-danger btn-sm">
                        Eliminar
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
