{% extends "base.html" %}
{% block title %}Detalle Entrepano{% endblock %}

{% block content %}
<a
    href="{{ url_for('detalle_estante', estante_id=entrepano.estante.id) }}"
    class="btn btn-outline-secondary mb-3"
>
    ⬅️ Volver al entrepaños
</a>

<h4 class="mb-3">
    Estante {{ entrepano.estante.nombre }} · Nivel {{ entrepano.nivel }}
</h4>

<!-- FORM ITEM -->
 
<form method="POST" class="card p-3 mb-4" action="{{ url_for('crear_item', entrepano_id=entrepano.id) }}">
    <h6 class="mb-3">➕ Nueva División</h6>
    <p>codigo</p>
    <input name="codigo"  
        type="text" 
        maxlength="7" 
        oninput="this.value = this.value.replace(/[^0-9]/g, '')" 
        inputmode="numeric" class="form-control mb-2" placeholder="Opcional">
   

    <div class="row">
        <div class="col">
            <p> Cant. Máxima</p>
            <input name="maximo" type="number" class="form-control" placeholder="Máximo" required>
        </div>
        <div class="col">
            <p>Cant. Mínima</p>
            <input name="minimo" type="number" class="form-control" placeholder="Mínimo" required>
        </div>
    </div>
    
    <div>
        <p>División</p>
    <select name="division" class="form-select" required>
    {% for i in range(1, 25) %}
        <option value="{{ i }}">{{ "%02d"|format(i) }}</option>
    {% endfor %}
    </select>
    </div>



    <button class="btn btn-primary mt-2">Crear</button>
</form>

<!-- DIVISIONES -->
<div class="row">
{% for item in items %}
<div class="col-md-3 col-6 mb-3">
    <div class="card h-100 text-center">
        <div class="border p-2 mb-2 text-center">
            📍 Ubicación:
            <strong>
                {{ generar_ubicacion(item) }}
            </strong>
        </div>

        <div class="card-body">
            <h5>División {{ item.division }}</h5>

            <p><b>Código:</b> {{ item.codigo }}</p>
            <p><b>Máx:</b> {{ item.maximo }}</p>
            <p><b>Mín:</b> {{ item.minimo }}</p>
        </div>

        <div class="card-footer d-flex gap-1">
            <a href="{{ url_for('editar_item', item_id=item.id) }}"
               class="btn btn-sm btn-outline-primary w-100">
                ✏️ Editar
            </a>
        </div>
        <div class="card-footer d-flex gap-1">
            <form method="POST"
                  action="{{ url_for('eliminar_item', item_id=item.id) }}"
                  class="w-100">
                <button class="btn btn-sm btn-outline-danger w-100">
                    🗑️ Eliminar
                </button>
            </form>
        </div>
    </div>
</div>
{% else %}
<p class="text-muted">No hay items aún.</p>
{% endfor %}




</div>
{% endblock %}
