{% extends "base.html" %}
{% block title %}Estantes{% endblock %}

{% block content %}
<h3 class="mb-4">Estantes</h3>
<div>
    <form method="POST" class="row g-3 mb-5">
        <div class="col-md-4">
            <label class="form-label">Número de estante</label>
            <input type="number" name="numero" class="form-control" required>
        </div>

        <div class="col-md-4">
            <label class="form-label">Cantidad de entrepaños</label>
            <input type="number" name="total_entrepanos" min="1" max="10" class="form-control" required>
        </div>

        <div class="col-md-4 d-flex align-items-end">
            <button class="btn btn-primary w-100">Crear nuevo estante</button>
        </div>
    </form>
</div>

<div class="row">
    {% for estante in estantes %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card h-100 text-center">
            <div class="card-body">
                <h5 class="card-title">Estante {{ estante.numero }}</h5>
                <p class="card-text">
                     📦 Entrepaños: <b>{{ estante.entrepanos | length }}</b>
                </p>
            </div>
            <div class="card-footer d-grid gap-2">
                <a href="{{ url_for('detalle_estante', estante_id=estante.id) }}"
                   class="btn btn-primary btn-sm">
                    Ver detalle
                </a>
                <form method="POST"
                      action="{{ url_for('eliminar_estante', estante_id=estante.id) }}">
                    <button class="btn btn-outline-danger btn-sm">
                        Eliminar
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
